// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1198;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;
@function rem($px) {
   $result: math.div($px, 16) + rem;
   @return $result;
}

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

// Fonts

$fontFamily: SFProDisplay, sans-serif; // Семейство шрифта по умолчанию
$secondaryFont: Roboto;
$accentFont: Spaceagecyrillic;
$fontSize: rem(16); // Размер шрифта по умолчанию
$fontWeight: 400; // Жирность шрифта по умолчанию


// Colors

$fontColor: #fff; // Цвет основного шрифта по умолчанию
$accentColor: #036cca;
$activeColor: #cb0e0e;